.main-button {
  background-color: var(--primary-background-color);
  border: 2px solid var(--primary-border-color);
  border-radius: 8px;
  color: var(--primary-text-color);
  font-size: 20px;
  padding: 16px;
}

.main-button:hover {
  border-color: var(--secondary-text-color);
  transform: scale(1.05);
  transition: 0.5s;
}

.button-icon {
  padding-left: 8px;
}
